.table {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.8px;
  text-align: center;
  height: 70vh;
  border-collapse: collapse;

  thead {
    font-size: clamp(1.2rem, 1.7vw, 1.3rem);
    background-color: rgb(10, 36, 51);
    border-radius: 5px;
    color: white;
    height: 5vh;
    word-wrap: break-word;
  }

  th,
  td {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tbody {
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
  }

  tbody > tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
  }
}
