.smartSearchList {
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;

  & li {
    text-transform: capitalize;
    transition: all 0.5s;
    font-size: 1.2rem;
    padding: 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: #dddd;
    }
  }

  &__close {
    padding: 0.5rem;
    background-color: #ebebeb;
    border-radius: 5px;
    gap: 15px;
    box-shadow: 3px 2px 5px -1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    cursor: pointer;
  }
}
