.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;
  th {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
  }
  td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
  }

  tr:nth-child(even) {
    background-color: #f8f8f8;
  }

  tr:last-child {
    border-bottom: 2px solid rgba(0, 0, 0, 0.804);
  }
}
