@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif; /* Ensure the CSS variable is defined */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html[lang="en"] {
  direction: ltr;
}

html[lang="ar"] {
  direction: rtl;
}

ul {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 2px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ed0534;
}

.MuiTabs-indicator .css-1aquho2-MuiTabs-indicator {
  background-color: #ed0534 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed0534;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ed0534;
}

.slider-img {
  transform: translateX(0) !important;
  z-index: 50 !important;
  opacity: 1 !important;
}

.clear-opacity {
  opacity: 0 !important;
  background-color: transparent !important;
}
