@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif; /* Ensure the CSS variable is defined */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

ul {
  text-decoration: none;
}

.not-empty {
  top: 2px !important;
  left: 6px !important;
  font-size: 0.96rem !important;
  background: linear-gradient(#4170f2, rgb(6 182 212)) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold !important;
}

::-webkit-scrollbar {
  width: 2px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b93ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 215, 224);
}

.slider-img {
  transform: translateX(0) !important;
  z-index: 50 !important;
  opacity: 1 !important;
}

.clear-opacity {
  opacity: 0 !important;
  background-color: transparent !important;
}
