.selected-item {
  display: flex;
  border-radius: 5px;
  gap: 15px;
  padding: 0.5rem 0.8rem;
  background: #f1e5ce;

  text-transform: capitalize;
}

.close-btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ed0533;
  color: white;
}
